@charset "UTF-8";
.title {
  font-weight: bold;
  font-size: 1.2em;
}
hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 0.5em solid;
  opacity: 0.25;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: #dc3545;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
thead tr td {
    font-weight: bold;
}
.toc {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #dcdcdc;
    padding: 5px;
    background: #ededed;
    display: inline-block;
}
table {
    border-collapse: collapse;
}
table tr td {
    border: 1px solid black;
    padding: 5px;
}
table thead {
    background-color: #dee3e9;
}
table tbody tr td.matrix_layout {
    background-color: #dee3e9;
    font-weight: bold;
}
