name: Java CI with Maven

on: [push, pull_request]

jobs:
  build:
    name: Java ${{ matrix.java }}
    strategy:
      fail-fast: false
      matrix:
        java: [ 8, 11, 17, 18-ea, 19-ea ]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup Java
      uses: actions/setup-java@v2
      with:
        distribution: zulu
        java-version: ${{ matrix.java }}
        cache: maven
    - name: Build with Maven
      run: mvn -B package
