name: Build & Deploy Maven Site

on:
    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write

jobs:
    build:
        name: Build Maven Site
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Set up Java
              uses: actions/setup-java@v4
              with:
                  distribution: 'zulu'
                  java-version: 17
                  cache: maven

            - name: Build Maven site
              run: |
                  mvn -B install
                  mvn -B site site:stage

            - name: Upload site to Pages artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: target/staging

    deploy:
        name: Deploy to GitHub Pages
        needs: build
        runs-on: ubuntu-latest

        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        steps:
            - name: Deploy
              id: deployment
              uses: actions/deploy-pages@v4
